@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.2s ease-out forwards;
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 140, 0, 0.6), 0 0 20px rgba(255, 165, 0, 0.4);
}

.input {
  @apply w-full p-3 rounded-lg 
  border border-gray-400
  bg-white
  shadow-sm
  focus:ring-2 focus:ring-orange-500 
  focus:border-orange-500
  transition;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}
